---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Provencraft Community">
  <main class="grid min-h-full place-items-center py-24 sm:py-32 lg:px-8 px-6">
    <div id="center" class="text-center"></div>
  </main>
</Layout>
