---
import Layout from '../layouts/Layout.astro';
import Pillar from '../components/Pillar.astro';
import Card from '../components/Card.astro';
import Testimonial from '../components/Testimonial.astro';
import arina from '../assets/images/arina.webp';
import janis from '../assets/images/pot.webp';
import ronalds from '../assets/images/ronalds.webp';
import ActionButton from '../components/ActionButton.astro';
---

<Layout title="Provencraft Community">
  <main class="grid min-h-full place-items-center py-6 lg:px-8 px-6">
    <div id="center" class="text-center text-white">
      <section class="flex flex-col items-center my-14">
        <div class="font-extrabold text-6xl leading-[82px] tracking-tight font-gilmer-heavy">
          A Safe and Inclusive Community for Your
        </div>
        <div class="font-extrabold text-6xl leading-[82px] tracking-tight font-gilmer-heavy text-[#FF9431]">
          Personal and Professional Growth
        </div>
        <div class="w-4/5 my-14 font-semibold text-2xl leading-[43.5px] tracking-normal font-gilmer-medium opacity-70">
          At the core, we believe by coming together, we can create a supportive and encouraging environment that allows
          individuals to learn from one another, grow personally and professionally to achieve our goals.
        </div>
        <ActionButton />
      </section>
      <div>
        <div class="mx-auto px-6 lg:px-8">
          <div class="py-24 sm:py-32">
            <div class="mx-auto max-w-2xl lg:text-center">
              <p class="text-5xl font-gilmer-heavy">What's <span class="text-[#FF9431]">in it</span> for me?</p>
              <p class="mt-10 text-xl text-white/70 font-gilmer-medium">
                Here is the list of awesome reasons for you to join our community to unlock new adventures and
                opportunities
              </p>
            </div>
            <div class="relative">
              <div
                class="bg-dust-particles bg-[#010D1A] bg-blend-color-dodge bg-no-repeat absolute h-full w-screen -left-72 top-14"
              >
              </div>
              <div class="mt-12 sm:mt-20 lg:mt-18">
                <dl class="grid gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-3 lg:gap-y-16 text-left">
                  <Card
                    title="Personal and professional growth"
                    description="You'll have access to various resources and opportunities that will help you develop your skills, knowledge, and experience. Whether through workshops, events, mentorship, or collaboration, you'll be able to grow personally and professionally."
                  />
                  <Card
                    title="Opportunities to learn and explore"
                    description="Our community is a space to try new things and explore new ideas. We encourage our members to take risks, think outside the box, and learn from one another. You'll have access to a wealth of knowledge and resources to help you expand your horizons and discover new passions."
                  />
                  <Card
                    title="A supportive and inclusive environment"
                    description="One of the most significant benefits is the sense of belonging and support you'll feel. We prioritize creating a safe and inclusive space where everyone feels welcome and valued. You'll be able to connect with like-minded individuals who share your interests and goals."
                  />
                  <Card
                    title="Develop your personal brand"
                    description="Joining the community and sharing your knowledge and expertise can help you develop a personal brand by establishing yourself as a thought leader, increasing your visibility, building trust and credibility, and leading to new opportunities."
                  />
                  <Card
                    title="Leadership and mentorship opportunities"
                    description="If you are a seasoned professional, you likely have much to offer regarding leadership and mentorship. You can mentor younger members, lead community projects, or even start your venture."
                  />
                  <Card
                    title="Networking opportunities"
                    description="By joining this community, you'll have the chance to connect with other professionals in your field, share your expertise, and learn from others. You may even meet potential collaborators or partners for future projects."
                  />
                </dl>
              </div>
            </div>
          </div>
          <div>
            <div class="py-24 sm:py-32 mx-auto max-w-2xl lg:text-center pb-10">
              <p class="text-5xl font-gilmer-heavy">Community <span class="text-[#FF9431]">pillars</span></p>
              <p class="mt-10 text-xl text-white/70 font-gilmer-medium">
                Focused on these four areas, we foster a culture that prizes innovation, entrepreneurial spirit,
                quality, and diversity.
              </p>
            </div>
            <Pillar
              title="Engineering"
              description="Being part of the engineering community empowers individuals to use technology to solve real-world problems, collaborate with like-minded individuals, and stay up-to-date with new technologies and trends."
            />
            <Pillar
              title="Craftsmanship"
              description="Promoting craftsmanship culture emphasizes the importance of quality work, attention to detail, and continuous learning while fostering a sense of pride and fulfilment in one's work as individuals strive to create something of lasting value and beauty."
            />
            <Pillar
              title="Entrepreneurship"
              description="By fostering a culture of entrepreneurship, we empower individuals to pursue their own ventures, create innovative products that drive positive change, and overcome challenges to achieve their goals."
            />
            <Pillar
              title="Diversity"
              description="Diversity brings a range of perspectives and experiences, which can lead to more innovative and effective problem-solving. When people from different backgrounds and cultures work together, they can bring unique solutions to the table and challenge each other's assumptions, leading to better outcomes."
            />
          </div>
        </div>
      </div>
      <section class="flex flex-col items-center my-14 mx-auto max-w-7xl">
        <div class="font-extrabold text-5xl leading-[60px] tracking-tight font-gilmer-heavy text-center text-white">
          Elevate <span class="text-[#FF9431]">your</span> journey
        </div>
        <div
          class="w-4/5 my-9 font-semibold text-2xl tracking-normal font-gilmer-medium text-center opacity-70 text-white"
        >
          Join our community of forward-thinking professionals.
        </div>
        <button
          class="w-52 rounded-[32px] mt-4 h-14 text-base font-gilmer-heavy font-bold text-white bg-gradient-to-r from-[#FF7A00] to-[#FF9431]"
          type="button">JOIN DISCORD</button
        >
      </section>
      <section class="flex items-center space-x-7 my-14 mx-auto max-w-7xl">
        <Testimonial
          name="Arina Solovjova"
          author={arina.src}
          description="This community has helped me make new friends, learn programming, and connect with a mentor."
          styles="mt-20 text-muted hover:text-white"
        />
        <Testimonial
          name="Janis Berzins"
          author={janis.src}
          description="This community has given a number of new acquaintances and a mentor, encouraging me to learn programming and also making new friends."
          styles="mt-30"
        />
        <Testimonial
          name="Ronalds Palacis"
          author={ronalds.src}
          description="I've made new friends, learned programming, and found a mentor thanks to this community, which has also helped me make new acquaintances."
          styles="mt-20 text-muted hover:text-white"
        />
      </section>
    </div>
  </main>
</Layout>
