---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Provencraft Community">
  <main class="grid min-h-full place-items-center py-6 lg:px-8 px-6">
    <div id="center" class="text-center text-white">
      <div class="py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl lg:text-center">
            <p class="text-5xl font-gilmer-heavy">Community <span class="text-[#FF9431]">pillars</span></p>
            <p class="mt-10 text-xl text-white/70 font-gilmer-medium">
              Focused on these four areas, we foster a culture that prizes innovation, entrepreneurial spirit, quality, and diversity.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
