---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Provencraft Community">
  <main class="grid min-h-full place-items-center py-6 lg:px-8 px-6">
    <section class="flex flex-col items-center my-14">
      <div class="font-extrabold text-6xl leading-[82px] tracking-tight font-gilmer-heavy text-center text-white">
        A Safe and Inclusive Community for Your
      </div>
      <div class="font-extrabold text-6xl leading-[82px] tracking-tight font-gilmer-heavy text-center text-[#FF9431]">
        Personal and Professional Growth
      </div>
      <div
        class="w-4/5 my-14 font-semibold text-2xl leading-[43.5px] tracking-normal font-gilmer-medium text-center opacity-70 text-white"
      >
        At the core, we believe by coming together, we can create a supportive and encouraging environment that allows
        individuals to learn from one another, grow personally and professionally to achieve their goals.
      </div>
      <button
        class="w-52 my-12 rounded-[32px] h-14 text-base font-gilmer-heavy font-bold text-white"
        style="background: var(--linear-3, linear-gradient(90deg, #FF7A00 0%, #FF9431 100%));"
        type="button">JOIN DISCORD</button
      >
    </section>
  </main>
</Layout>
