@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gilmer-light';
  src:
    local('GilmerLight'),
    url('/fonts/GilmerLight.otf') format('opentype');
}
@font-face {
  font-family: 'gilmer-regular';
  src:
    local('GilmerRegular'),
    url('/fonts/GilmerRegular.otf') format('opentype');
}
@font-face {
  font-family: 'gilmer-heavy';
  src:
    local('GilmerHeavy'),
    url('/fonts/GilmerHeavy.otf') format('opentype');
}
@font-face {
  font-family: 'gilmer-medium';
  src:
    local('GilmerMedium'),
    url('/fonts/GilmerMedium.otf') format('opentype');
}

@layer components {
  .text-muted{
    @apply text-white text-opacity-70
  }

}

@layer components {
  .bg-starry {
    background-image: url('/src/assets/images/dust-particles.svg');
    background-color: #010D1A;
    background-blend-mode: color-dodge;
    background-repeat: repeat-y;
    background-position: center;
    height: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    z-index: -2;
  }
  .bg-grid {
    background-image: linear-gradient(to left, #010D1A 5%, transparent 20%), url('/src/assets/images/hero-grid.svg'), url('/src/assets/images/dust-particles.svg');
    background-color: #010D1A;
    background-blend-mode: normal, normal, color-dodge;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 100vh;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99vw;
    z-index: -1;
  }
  @media (min-width: 2500px){
    .bg-grid {
      background-image: linear-gradient(to left, #010D1A 15%, transparent 35%), url('/src/assets/images/hero-grid.svg'), url('/src/assets/images/dust-particles.svg');
    }
  }
  .bg-pillars {
    background-image: linear-gradient(to right, #010D1A, 10%, transparent), linear-gradient(to left, #010D1A, 10%, transparent), url('/src/assets/images/mini-grid-faded.svg'), url('/src/assets/images/dust-particles.svg'), url('/src/assets/images/pillars-lines-faded.svg');
    background-color: #010D1A;
    background-blend-mode: normal, normal, normal, color-dodge, normal;
    background-repeat:  no-repeat, no-repeat, repeat-x, repeat-y, no-repeat;
    background-position: center;
    background-size: auto, auto, contain, auto, contain;
    height: 100%;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99vw;
    z-index: -1;
  }
}