@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gilmer-light';
  src:
    local('GilmerLight'),
    url('/fonts/GilmerLight.otf') format('opentype');
}
@font-face {
  font-family: 'gilmer-regular';
  src:
    local('GilmerRegular'),
    url('/fonts/GilmerRegular.otf') format('opentype');
}
@font-face {
  font-family: 'gilmer-heavy';
  src:
    local('GilmerHeavy'),
    url('/fonts/GilmerHeavy.otf') format('opentype');
}
@font-face {
  font-family: 'gilmer-medium';
  src:
    local('GilmerMedium'),
    url('/fonts/GilmerMedium.otf') format('opentype');
}

@layer components {
  .text-muted{
    @apply text-white text-opacity-70
  }

}
