@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gilmer-light';
  src:
    local('GilmerLight'),
    url('/fonts/Gilmer-Font/Gilmer\ Light.otf') format('opentype');
}
@font-face {
  font-family: 'gilmer-regular';
  src:
    local('GilmerRegular'),
    url('/fonts/Gilmer-Font/Gilmer\ Regular.otf') format('opentype');
}
@font-face {
  font-family: 'gilmer-heavy';
  src:
    local('GilmerHeavy'),
    url('/fonts/Gilmer-Font/Gilmer\ Heavy.otf') format('opentype');
}
@font-face {
  font-family: 'gilmer-medium';
  src:
    local('GilmerMedium'),
    url('/fonts/Gilmer-Font/Gilmer\ Medium.otf') format('opentype');
}

@layer components {
  .bg-starry {
    background-image: url('/src/assets/images/dust-particles.svg');
    background-color: #010D1A;
    background-blend-mode: color-dodge;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    z-index: -1;
  }
  .bg-grid {
    background-image: url('/src/assets/images/grid.svg'), url('/src/assets/images/dust-particles.svg');
    background-color: #010D1A;
    background-blend-mode: color-dodge;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    z-index: -1;
  }
  .bg-pillars {
    background-image: url('/src/assets/images/pillar-lines.svg'), url('/src/assets/images/mini-grid.svg'), url('/src/assets/images/dust-particles.svg');
    background-color: #010D1A;
    background-blend-mode: normal, color-dodge, color-dodge;
    background-repeat: no-repeat, no-repeat, repeat-y;
    background-position: center;
    height: 100vh;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    z-index: -1;
  }
}