<button
  class="uppercase w-32 h-10 md:w-40 md:h-14 rounded-full text-xs sm:text-sm md:text-base font-bold font-gilmer-heavy text-white bg-gradient-to-r from-[#FF7A00] to-[#FF9431]"
  type="button"
  onclick="
  window.location.href = 'https://t.me/robertsivanovs'
"
>
  GET IN TOUCH
</button>
