---
export interface Props {
  title: string;
  description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;
---

<div class="relative min-h-80 border border-solid border-white/5 rounded-2xl spotlight relative">
  <div class="pr-6 pt-9 pl-4 mb-8 h-full grid grid-rows-3">
    <div class="text-2xl font-gilmer-heavy">{title}</div>
    <div class="text-base text-white/70 font-gilmer-regular row-span-2">
      {description}
    </div>
  </div>
</div>
