---
export interface Props {
  title: string;
  description: string;
}
const { title } = Astro.props;
const { description } = Astro.props;
---

<div class="mx-auto max-w-lg py-24 leading-10">
  <div class="font-gilmer-heavy text-4xl pb-8">{title}</div>
  <div class="font-gilmer-regular text-xl text-muted text-justify">
    {description}
  </div>
</div>
