---
export interface Props {
  title: string;
  description: string;
}
const { title } = Astro.props;
const { description } = Astro.props;
---

<div class="mx-auto max-w-lg sm:py-24 py-12 md:leading-10 leading-8">
  <div class="font-gilmer-heavy md:text-4xl text-3xl pb-8">{title}</div>
  <div class="font-gilmer-regular md:text-xl text-lg text-muted text-justify">
    {description}
  </div>
</div>
