---
export interface Props {
	title: string;
	description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;
---

<div class="relative h-72 w-96 pl-4 border border-solid border-white/10 rounded-2xl">
    <div class="pl-5 pr-6 py-9">
        <dt class="text-3xl font-semibold leading-7 font-gilmer-heavy">{title}</dt>
        <dd class="mt-2 text-base leading-7 font-gilmer-regular">
            {description}
        </dd>
    </div>
</div>
