---
import '../style/main.css';
import logo from '../assets/images/logo-inline.svg';
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon " href="/favicon.svg" type="image/svg+xml" />
    <title>{title}</title>
  </head>
  <body class="h-full bg-[#010D1A] text-white">
    <div class="container mx-auto max-w-7xl">
      <header>
        <div class="flex justify-between mx-auto max-w-7xl py-12">
          <img src={logo.src} alt="provencraft-logo" />
          <button
            class="w-52 rounded-[32px] h-14 text-base font-gilmer-heavy font-bold text-white bg-gradient-to-r from-[#FF7A00] to-[#FF9431]"
            type="button">JOIN DISCORD</button
          >
        </div>
      </header>
      <slot />
    <div class="text-white/60">
      <div class="pb-10">
        <img src={logo.src} alt="provencraft-logo" />
      </div>
      <div>
        Designed by <span>
        <a href="https://www.linkedin.com/in/and%C5%BEela-kate-p%C5%ABli%C5%86a/">
          Andžela Kate Pūliņa
        </a>
        </span>
      </div>
    </div>
    </div>
  </body>
</html>
